body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.header {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.header-navigation {
  max-width: 100%;
}

.navigation-menu {
  display: flex;
  flex-direction: row;
}

.navigation-menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation-menu__link {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: 600;
  font-size: 24px;
  transition: 0.3s;
}

.link-dot {
  width: 10px;
  height: 10px;
  margin-left: 8px;
  color: turquoise;
  background-color: turquoise;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
}

.navigation-menu__link:hover {
  color: turquoise;
}

.navigation-menu__link:hover ~ .link-dot {
  color: turquoise;
  opacity: 1;
}

li {
  list-style: none;
  margin: 16px auto;
}

.burger {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.main-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.about {
  text-align: center;
}

.card-flip {
  background-color: transparent;
  width: 241px;
  height: 193px;
  margin: 0 auto;
}

.card-flip__container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-flip:hover .card-flip__container {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-front {
  background-color: #bbb;
  color: black;
}

.card-back {
  background-color: turquoise;
  color: white;
  transform: rotateY(180deg) translate(0%, 0%);
}

.card-image {
  cursor: pointer;
  border-radius: 10px;
}

h2,
h3 {
  font-size: 24px;
  text-align: center;
}

h4 {
  line-height: 20px;
  max-width: 800px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
}

.section-wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.skills-wrapper {
  max-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills-text {
  max-width: 50%;
  width: 100%;
  font-size: 24px;
  margin: 5px 0;
  animation: color-font-reverse 5s infinite ease-in-out;
}

.skills-text:nth-child(2n + 1) {
  color: turquoise;
  animation: color-font 5s infinite ease-in-out;
}

@keyframes color-font {
  0% {
    color: turquoise;
  }
  50% {
    color: black;
  }
  100% {
    color: turquoise;
  }
}

@keyframes color-font-reverse {
  0% {
    color: black;
  }
  50% {
    color: turquoise;
  }
  100% {
    color: black;
  }
}

.certificate-image {
  max-width: 600px;
  width: 100%;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.footer__link {
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: black;
  transition: 0.3s;
}

.footer__link:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.footer__img {
  width: 6rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .burger {
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }
}
